@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --main-color: #2288ff;
    --second-color: #192f6a;
    --text-color: #314862;
    --bg-color: #fff;
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-blue: #008dc4;
    --color-blue-light: hsla(209, 100%, 38%, 0.15);
    --color-white: #f2f2fe;

    --box-shadow: 2px 2px 18px rgba(14, 52, 54, 0.15);
    --transition: all 400ms ease;

    --container-width-lg: 74%;
    --container-width-md: 88%;
    --form-width: 40%;

    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

.form__section{
    display: grid;
    place-items: center;
    height: 100vh;
}

.form__section-container{
    width: 900px;
    height: 450px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.form-row{
    display: flex;
    margin-left: 60px;
    margin-right: auto;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.col-md-6 {
    width: 50%;
    float: left;
}

input,
select{
    width: 50%;
}

::-webkit-input-placeholder{
    color: #747474;
    font-size: 14px;
}

label{
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control{
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #495057;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 80%;
}

h2{
    margin-left: 40px;
}

p{
    margin-left: 60px;
    margin-bottom: 20px;
    /* color: var(--text-color) */
}

.rows{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rows button{
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--main-color);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    border: none;
    transition: var(--transition);
    color: var(--color-white);
}

button{
    font-weight: 500;
    font-size: 16px;
}

.rows button:hover{
    background-color: #1d72d6;
    color: var(--color-white);
}

.form__section-container form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    margin-bottom: 12px;
    margin-left: 20px;
}

.table-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-bottom: 20px;
}

table {
    text-align: center; /* Alinea el contenido de la tabla al centro */
    margin-left: 60px;
    margin-right: auto;
    margin-bottom: 16px;
}
th, td {
    vertical-align: middle; /* Alinea verticalmente el contenido de las celdas al centro */
}

#tabla-pago table thead{
    font-weight: 700;
}

#tabla-pago table thead th{
    color: #020303;
    border: none;
    padding: 6px 0;
    border-bottom: 1px solid #b6b3b3;
}

#tabla-pago table td{
    border-bottom: 1px solid #b6b3b3;
    text-align: center;
    width: 250px;
}

#mensajeFila td{
    width: 500px;
}